@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: math;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.playfair-font {
  font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
}